* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #535353;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#header {
  height: 100px;
  background-color: gray;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  text-shadow: 2px 2px 2px #535353;
  color: black;
  font-size: 32px;
}


#middle {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

#left-bar {
  height: 100%;
  width: 240px;
  background-color: #808080;
}

#new-list-btn {
  border: 2px solid black;
  background-color: #1e538f;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color:rgb(219, 219, 219);
  text-align: center;
}

#new-list-btn:hover {
  filter: brightness(110%);
}

#left-bar ul {
  list-style: none;
}

#list-list {
  margin-bottom: 20px;
}

#date-lists {
  border-top: 2px solid black;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  border: 2px solid black;
  font-size: 16px;
  border-top: none;
  background-color: #535353;
  color: rgb(219, 219, 219);
}

.list-name {
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-item:hover {
  filter: brightness(110%);
}

.list-item button {
  margin: 0px;
}

.edit-btn, .delete-btn {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  cursor: pointer;
  padding: 3px;
}


.delete-btn:hover, .edit-btn:hover, .details-btn:hover {
  color: rgb(219, 219, 219);
}

.list-item-right-side {
  display: flex;
  align-items: center;
}

.list-item-right-side span {
  margin-right: 3px;
}

#todo-area {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  
}

#todo-area h2, p {
  color:rgb(219, 219, 219);
}

#todo-area h2 {
  font-size: 28px;
}

.details-btn {
  border: none;
  cursor: pointer;
  padding: 3px;
  font-size: 16px;
  margin: 0px;
  background-color: #58ADAD;
  color: black;
}


#add-todo-btn {
  border: 2px solid black;
  border-bottom: none;
  background-color: #1e538f;
  cursor: pointer;
  padding: 3px;
  width: 125px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color:rgb(219, 219, 219);
  text-align: center;
}

#add-todo-btn:hover, .sort-btn:hover {
  filter: brightness(115%);
}



.todo-list-container h2 {
  margin-top: 10px;
  padding: 0px;
}

.todo-list-container p {
  margin: 10px 0px 15px 0px;
  padding: 0px;
  width: 250px;
  text-align: justify;
  text-justify: inter-word;
}

#todo-list-table {
  display: grid;
  grid-template-columns: 250px 80px 110px 400px;
}

.table-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  height: 28px;
  background-color: #58ADAD;
  font-size: 16px;
}

.todo-label {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 100px;
}

.todo-list {
  padding: 5px;
  list-style: none;
  border: 2px solid black;
  border-top: none;
}

.todo-list input[type="checkbox"]{
  margin: 5px;
}

#todo-area p {
  font-size: 15px;
}

.todo-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid black;
  font-size: 16px;
}

.todo-title {
  font-size: 16px;
  color: black;
}

.todo-title:hover {
  text-decoration: line-through;
}

.completed-title {
  text-decoration: line-through;
}


.left-align-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  padding-left: 6px;
}

.todo-cell {
  height: 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #58ADAD;
}

.main-todo-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
}

.main-todo-cell input[type="checkbox"] {
  margin-right: 6px;
}

.left-side-todo-cell {
  cursor: pointer;
}


.center-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column1 {
  border-left: 2px solid black;
}

.high-priority {
  background-color: rgba(255, 0, 0, 0.5);
}

.medium-priority {
  background-color: rgba(255, 255, 0, 0.5);
}

.low-priority {
  background-color: rgba(0, 128, 0, 0.5);
}

#footer {
  width: 100%;
  height: 50px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  color: black;
}

.sort-btn {
  cursor: pointer;
  color:rgb(219, 219, 219);
  background-color: #1e538f;
}

/* forms css */

.form-container {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid black;
}

.form label {
  margin-bottom: 2px;
}

.form input, h3 {
  margin-bottom: 8px;
}

.form button {
  padding: 3px;
  background-color: #1e538f;
  color:rgb(219, 219, 219);
  border: 2px solid black;
  margin-bottom: 3px;
  border-radius: 5px;
  font-size: 16px;
}

.form button:hover {
  filter:brightness(115%);
}

.slider {
  width: 100%;
}